* {
    margin: 0;
    padding: 0;
    background-color: rgb(36, 35, 34);
}

.title-and-author {
    background-color: black;
    text-align: center;
    padding: 2rem;
    margin-bottom: 1rem;
}

.main-title {
    color: goldenrod;
    font-size: 50px;
    background-color: black;
}

.author {
    color: peru;
    font-size: 30px;
    background-color: black;
}

.warnings-list {
    font-family:'Segoe UI';
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
    width: 60%;
}

.warnings-header {
    text-align: center;
    color: rgb(214, 52, 52);
}

.warnings-item {
    text-align: center;
    color: rgb(214, 52, 52);
    margin-top: 1rem;
}

.table-of-contents {
    font-family:'Segoe UI';
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    width: 60%;
}

.table-of-contents-header {
    text-align: center;
    color: silver;
}

section {
    color: silver;
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
}

.contents-level-two {
    margin-left: 30px;
}

.filling-dots {
    flex: 1;
    overflow: hidden;
}

.pdf-nav-bar-top {
    position: sticky;
    top: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: #333;
    color: #fff;
    text-align: center;
}

.pdf-nav-bar-bottom {
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: #333;
    color: #fff;
    text-align: center;
}

.btn-top {
    font-family: Helvetica;
    font-size: 15px;
    border-radius: 0.5rem;
    margin: 1rem;
    background:firebrick;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.7rem 1.5rem;
}

.page-info {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 0.5rem;
}

.btn-bottom {
    font-family: Helvetica;
    font-size: 15px;
    text-decoration: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: firebrick;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.7rem 1.5rem;
    border-radius: 0.5rem;
}

.page-select {
    width: 4rem;
    color: #fff;
    margin-right: 8rem;
}

.wrapper {
    margin: auto;
}

.btn-top:hover {
    opacity: 0.9;
}

.btn-bottom:hover {
    opacity: 0.9;
}

.socials {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 60%;
}

.socials-header {
    font-family: 'Segoe UI';
    margin-bottom: 1.5rem;
    color: silver;
}

.btn-youtube {
    border-radius: 0.5rem;
    font-family: Helvetica;
    text-decoration: none;
    margin: 1rem;
    background: red;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.7rem 1.5rem; 
}

.btn-youtube:hover {
    opacity: 0.9;
}

.btn-linked-in {
    border-radius: 0.5rem;
    font-family: Helvetica;
    text-decoration: none;
    margin: 1rem;
    background: dodgerblue;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.7rem 1.5rem;
}

.btn-linked-in:hover {
    opacity: 0.9;
}

.btn-reddit {
    border-radius: 0.5rem;
    font-family: Helvetica;
    text-decoration: none;
    margin: 1rem;
    background: orangered;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.7rem 1.5rem;
}

.btn-reddit:hover {
    opacity: 0.9;
}

.discord-info {
    border-radius: 0.5rem;
    font-family: Helvetica;
    text-decoration: none;
    margin: 1rem;
    background: mediumslateblue;
    color: #fff;
    border: none;
    outline: none;
    padding: 0.7rem 1.5rem;
}

.socials-info {
    font-family:'Segoe UI';
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: silver;
}

.error {
    background: orangered;
    color: #fff;
    padding: 1rem;
}